@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;   /* IE Ð¸ Edge */
  scrollbar-width: none;      /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}
